.container{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
 
}
table{
    border-collapse: collapse;
    width:90%;    
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-top: 7rem;
    
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table th{
    text-align: left;
    padding: 2rem 3rem;
    
    color: black;
    
}
table td{
    opacity: .7;
    
    padding: 2rem 3rem;
    text-align: left;
    border-top: 1px solid rgb(98, 97, 97);

}
.delete{
    cursor: pointer;
}
.delete:hover{
    color: red;
    transition: all .1.5s linear;
}
.etat{
    color: white;
    width:fit-content;
    padding: 0.4rem 2rem;
    border-radius: 0.6rem;
}
.add{
    width: 90%;
    background-color: white;
    margin-top: 2rem;
    padding: 2.2rem 0;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.add button{
    background: none;
    outline: none;
    border: none;
    background-color: #FFAA0C;
    color: gray;
    font-size: 1.7rem;
    padding: 0.8rem 2rem;
    border-radius: .6rem;
    cursor: pointer;
    float: right;
    margin-right: 3rem;
}
.save{
    background: none;
    outline: none;
    border: none;
    background-color: #FFAA0C;
    color: gray;
    font-size: 1.7rem;
    padding: 0.8rem 2rem;
    border-radius: .6rem;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 3rem;
}
    /* Modal */

.modal {
    display: none; 

    position: fixed; 
    z-index: 1; 
    padding-top: 10rem; 
    
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    height: 38vh;
    padding: 2rem 0;
   
    border-radius: 0.6rem;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  

  .close {
    color: black;
    
    font-size: 3rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 0.2rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
  }
  .modal-header h2{
      font-size: 2.5rem;
  }
  
.modal-body {
      
padding: 0.2rem 1.5rem;

display: flex;
align-items:flex-start;
justify-content: space-between;
width: 100%;
margin-top: 2rem;

}

.modal-footer {
    padding: 0.2rem 1.5rem;
    margin-top: 2rem;
    
  }
.modal-body label, input{
    display: block;
}
.modal-body label{

    font-size: 1.5rem;
    color: gray;
    margin: 1rem 0;
}
.modal-body .modal-item{
    width: 30%;
    
}
.modal-content input{
    margin: 0.8rem 0;
    width: 75%;
    background: none;
    outline: none;
    border: none;
    border: 1px solid gray;
    height: 2.7rem;
    border-radius: 0.4rem;
    padding-left: 1rem;
}

  
